VITE_SUPABASE_URL=https://vctokdauyotbvjidkwho.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjdG9rZGF1eW90YnZqaWRrd2hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczOTI0NzksImV4cCI6MjEwMjk2ODQ3OX0.j6tmEql-CHd_m8uJazfjghuyrbA3jot5K7yw5la8sHo
